[2011-12-08 18:07] sckott opened #1 "Package does not load with install_github"
Fix this...

[2013-06-15 04:51] #1 closed, assigned to sckott

[2014-03-11 17:49] sckott opened #2 "UPdate pkg"
Looks like api is working again, update code, etc.

[2014-05-28 14:19] sckott opened #3 "Add travis file"

[2014-05-28 14:19] sckott opened #4 "add slack integration"

[2014-05-28 18:40] #2 closed, assigned to sckott

[2014-05-28 18:47] #3 closed, assigned to nobody

[2014-05-28 18:47] #4 closed, assigned to nobody

[2014-05-28 19:01] sckott opened #5 "Add vignette"

[2014-05-28 19:01] sckott opened #6 "Add test suite"

[2014-05-28 20:02] #6 closed, assigned to nobody

[2014-05-28 20:20] #5 closed, assigned to nobody

[2014-05-28 21:32] sckott opened #7 "Add more tests"

[2014-05-28 21:32] sckott opened #8 "Make vignette better"
It's super basic right now, give more examples

[2014-07-21 23:26] sckott opened #9 "Submit new version to CRAN once httr v0.4 is on CRAN"

[2014-07-24 19:10] #8 closed, assigned to nobody

[2014-07-24 19:11] #7 closed, assigned to nobody

[2014-07-24 19:11] #9 closed, assigned to sckott

[2014-08-04 13:19] sckott opened #10 "readme xhtml"
From kurt hornik

[2014-08-05 01:02] sckott opened #11 "Add bold taxonomy API functions"
related in taxize: https://github.com/ropensci/taxize/issues/301

[2014-08-06 14:10] sckott opened #12 "Don't run tests on CRAN"
...

[2014-08-06 19:11] sckott opened #13 "Change callopts param to ... throughout all fxns"

[2014-08-06 19:12] #13 closed, assigned to nobody

[2014-08-06 21:53] sckott opened #14 "Update vignette with new taxonomy fxns"

[2014-08-06 21:56] #11 closed, assigned to nobody

[2014-08-06 22:28] #10 closed, assigned to nobody

[2014-08-06 22:28] #14 closed, assigned to sckott

[2014-08-06 22:33] #12 closed, assigned to nobody

[2014-08-07 16:02] sckott opened #15 "Add function for the seq matching API"
http://www.boldsystems.org/index.php/resources/api?type=idengine

[2014-08-07 17:52] #15 closed, assigned to sckott

[2014-10-26 18:40] sckott opened #16 "Some parsing not working correctly"

[2014-10-26 18:49] #16 closed, assigned to nobody

[2014-11-03 01:28] sckott opened #17 "`bold_tax_name()` throws an error in some cases"
e.g.,

[code]

Reported by Bill Buaas

[2014-11-03 01:45] sckott opened #18 "`bold_tax_id()` throws an error in some cases"

[2014-11-03 01:52] #18 closed, assigned to sckott

[2014-11-03 01:58] #17 closed, assigned to nobody

[2015-02-01 05:33] sckott opened #19 "Fungi/plant identification APIs"
BOLD responded on 2015-01-31:

keep an eye out for this...ping peggy from email once in the pkg

[2015-04-16 15:07] sckott opened #20 "bioc package isn't installing right, appveyor failing"
https://ci.appveyor.com/project/sckott/bold/build/1.0.260#L1038

[2015-04-17 09:11] nylander opened #21 "bold_tax_name Error in CRAN version"
Dear Scott!

Do you plan push the dev version to CRAN some time soon? Just wondering as bold_tax_name() in CRAN (bold v.0.2.0) has this behavior on some queries not found on boldsystems (see below). The CRAN and github code was restructured so I couldn't spot the bug fast enough (hence this post without a solution):

    Error in `[.data.frame`(data, , vars, drop = FALSE) :
      undefined columns

[2015-04-17 14:54] sckott commented on #21
@nylander Thanks for your message. It's been a while since a cran push, so I'll try to get it done today.

[2015-04-17 21:31] sckott commented on #21
submitted to cran, should be up there soon

[2015-04-17 21:31] #21 closed

[2015-04-17 21:31] sckott commented on #21
@nylander

[2015-04-17 21:31] sckott commented on #20
this isn't a breaking change for the package, something wrong with appveyor bilds

[2015-05-07 15:12] sckott commented on #20
closing, works now i think

[2015-05-07 15:12] #20 closed

[2015-07-19 19:50] sckott opened #22 "Import all non-base R fxns"
see https://cran.rstudio.com/web/checks/check_results_bold.html

[2015-07-19 19:51] sckott opened #23 "See if can fix can't install sangserseq pkg from bioconductor"
see https://cran.rstudio.com/web/checks/check_results_bold.html

[2015-09-15 19:03] sckott commented on #19
moved to v0.4 milestone, the APIs still aren't up yet

[2015-09-15 19:22] sckott commented on #23
neah, i think this is fine

[2015-09-15 19:22] #23 closed

[2015-09-15 19:23] sckott commented on #22
checked, all done

[2015-09-15 19:23] #22 closed

[2016-03-13 16:36] boopsboops opened #24 "Graceful failure for lists of taxa"
Hi Scott, for some reason a small number of taxa are returning NA dataframes, but more annoyingly, when combined with taxa that are working as expected, also return a NA dataframe. Taxa that are not in BOLD return nothing, and do not interfere with those that are. Hope this example makes sense.
Cheers!

[code]

[2016-03-13 16:49] boopsboops opened #25 "Markers option not working"
A minor bug ... selecting markers has no effect in `bold_seqspec`.
Not such a high priority, as markers other than COI can be discarded manually after the dataframe is downloaded, but took me a while to work out why my sequences would not align!

[code]

[2016-03-14 20:28] sckott commented on #24
Hi @boopsboops - weird, I'll have a look

[2016-03-14 20:36] sckott commented on #25
thanks, will have a look

[2016-03-14 20:48] sckott commented on #25
That's a problem with the BOLD web service. I asked them about it, hopefully we'll get a response soon

[2016-03-14 21:33] sckott opened #26 "switch XML to xml2"

[2016-03-14 21:46] sckott commented on #24
@boopsboops made some changes in 650c40faa53fa6cc3e041b7bee8f597a2b00314c

try again after re-installing like `devtools::install_github("ropensci/bold")` - There was some weirdness going on with parsing the result from `httr`, using `rawToChar(content())` on the httr response now, and it seems to fix the problems.

let me know if this does or doesn't fix your pboelsm

[2016-03-21 17:20] boopsboops commented on #24
Hi Scott. Sorry for the delay getting back to you. It's working great now. Thanks!

[2016-03-21 17:20] #24 closed

[2016-03-21 17:35] sckott commented on #24
great, glad it works!

[2016-03-23 19:13] #26 closed

[2016-03-26 15:29] sckott opened #27 "bug in internal parser"

[2016-03-26 15:29] sckott opened #28 "add more tests"

[2016-03-28 19:32] #28 closed

[2016-03-28 21:46] sckott commented on #27
sorted

[2016-03-28 21:46] #27 closed

[2016-05-18 00:34] devonorourke opened #29 "long vectors not supported yet?"
I'm very excited to use the bold R-package but have been running into trouble when trying to pull a large dataset together using the `bold_seqspec` script. Specifically, I'm trying to grab all COI-5P sequences from BOLD's database. That's a lot of data.

I started by installing the package and ran the following script successfully:

[code]

This creates a 53-column, 58-line text file. I've perform

[2016-05-18 22:33] sckott commented on #29
What R version do you have, and what version of deps. Can you just paste in what you get from `devtools::session_info()` or `sessionInfo()`

[2016-05-18 22:52] sckott commented on #29
Think I found solution, trying it now...

[2016-05-18 23:37] sckott commented on #29
Hmm, looks like there are two things going on here:

1. The data you request for the search `Arthropoda` gives ~3.8 million records, and that data takes a long time to download. So just for your own sanity, it might be better to break that up into groups as you describe din your email to me
2. The other is that very long strings were not supported by the `rawToChar()` function. However, with `mull

[2016-05-18 23:38] sckott commented on #29
I'll see if there's anything I can do to warn users about data size limits...

[2016-05-18 23:41] sckott opened #30 "New v4 beta APIs"
http://v4.boldsystems.org/index.php/api_home

See what needs changing, and when to change

[2016-05-20 18:29] devonorourke commented on #29
Hi BOLD folks,

1. There must be a more computer savvy approach to this, but I've essentially split up the work of downloading all COI-5P sequences into four bins in attempts to keep things under 1 million rows per file:
-- download all animal sequences _except_  arthropods
-- download all arthropod sequences _except_ insects
-- download all insect sequences _except_ lepidopterans
-- download all

[2016-05-20 18:43] devonorourke commented on #29
Two other things that would be potentially useful:

1. When you pull out all these millions of records from BOLD, there are multiple sequences representing the same species. While this is certainly useful in some contexts, I wonder if it would be possible to specify to pull just the longest nucleotide sequence for a given representative species (if named to that taxa level). Note that you'd need t

[2016-06-14 10:59] vanessamata opened #31 "dependencies not available"
I'm not being able to install the package in Ubuntu RStudio. I get the following error:

ERROR: dependencies ‘xml2’, ‘reshape’, ‘plyr’ are not available for package ‘bold’

Whenever I try to install these packages individually, I get that they are not available for R version 3.0.2.

Any suggestion?

[2016-06-14 13:45] #31 closed

[2016-06-14 14:39] sckott commented on #31
@vanessamata does this mean you solved the problem since you closed the issue?

[2016-06-15 06:50] vanessamata commented on #31
yes! after updating my r version I was able to install bold. Apparently when I install r through apt-get it doesn't install the most recent version without some work-around. Thanks!

Date: Tue, 14 Jun 2016 07:39:07 -0700
From: notifications@github.com
To: bold@noreply.github.com
CC: vanessamata@hotmail.com; mention@noreply.github.com
Subject: Re: [ropensci/bold] dependencies not available (#31)

@

[2016-06-15 14:34] sckott commented on #31
good, glad it works

[2016-09-30 18:59] sckott opened #33 "replace xml2::xml_find_one with xml2::xml_find_first"

[2016-09-30 21:05] #33 closed

[2016-09-30 21:10] sckott commented on #29
@devonorourke Sorry for the very long delay. This slipped off my radar.

Just pushed that fix for long vectors, see commit above.

Possibly, I'll see how fast it can be, and if not fast, would leave to user to do

there is the parameter `bin` - have you not seen it?   I don't have much to say on what BOLD could do. You could/should ask them

[2016-09-30 21:14] sckott commented on #29
@devonorourke I assume this  comment https://github.com/ropensci/bold/issues/29#issuecomment-220683712 is an email you sent to BOLD?

[2016-09-30 21:58] sckott commented on #29
@devonorourke see fxn `bold_filter` - was trying to add filtering by longest or shortest sequence to `bold_seqspec`, but there's already too much complexity in that fxn (that is, too many ways for it to fail, making it hard to maintain and predict all failure scenarios) Let me know what you think

[2016-10-04 13:22] devonorourke commented on #29
Yes to #29 comment
<https://github.com/ropensci/bold/issues/29#issuecomment-220683712> . Their
response was less than inspiring. Basically stated that it wasn't a problem
and I was doing something wrong.

On Fri, Sep 30, 2016 at 5:14 PM, Scott Chamberlain <notifications@github.com

--
Devon O'Rourke
Graduate student in Molecular and Evolutionary Systems Biology
University of New Hampshire
Lab of D

[2016-10-04 13:31] devonorourke commented on #29
I ended up making a 'full-BOLD' and 'singlerep-BOLD' dataset by the
following (note this likely has it's own complications but as a general
start was helpful in getting a species-only database). Note that the first
file, "allinfo_arthropodonly.txt" is what I would pull using your 'bold' R
package's 'seqspec' command.

################################################################################

[2016-10-04 22:38] sckott commented on #29
Sorry that weren't more helpful.

So the code in your comment above is what you'd imagined the `bold_filter` would do?

[2016-10-18 20:35] sckott opened #34 "private data API"
will be coming next year probably, keep eye out on the api docs

[2016-11-17 21:33] sckott opened #35 "via email, user reports bug in bold_identify"
he says apparently due to `xml2`

[2016-12-06 12:32] dougwyu opened #36 "Add parentnames to output of bold_identify()"
Hi there,

When I use bold_identify, I get the lowest level taxonomic identification for that sequence (taxonomicidentification field), but it would be very useful if we could get the parentnames for that identification. The bold APIs do provide this information if i use 3 different bold package commands (see below), but i now would have to do some programming in R (not my strength) to insert the

[2016-12-06 12:35] dougwyu opened #37 "Database description switcheroo in bold_identify documentation"
The descriptions of these two databases in the documentation for bold_identify() seem to have been switched around, compared to the boldsystems website.

- COX1 Every COI barcode record with a species level identification and a minimum sequence length of 500bp. This includes many species represented by only one or two specimens as well as all species with interim taxonomy.

- COX1_SPECIES Every CO

[2016-12-06 18:04] sckott commented on #37
thanks, I'll have a look

[2016-12-06 18:13] sckott commented on #37
fixed

[2016-12-06 18:13] #37 closed

[2016-12-06 18:33] sckott commented on #36
So you want parentnames included in the output for the `bold_identify` function?  Or, do you want to have a separate function to get parentnames for some subset (or all) of the output from `bold_identify`?

I don't follow this. You want to get parentnames using a taxonomic ID rather than taxonomic name?  But isn't that what `bold` already allows you to do?

[2016-12-30 13:08] tdivoll opened #38 "Add user seqID to bold_identify results"
I am trying to batch process sequences with bold_identify and then write results to xlsx. I have completed this task but I lose the original sequence IDs when only the sequences are passed to bold_identify. Would it be possible to add an option to include those when bold_identify returns data from the BOLD API?

[code]

This bold package is great as I prefer denovo clustering with post hoc taxonom

[2016-12-30 13:50] tdivoll commented on #38
My data file looks like so:

seqID | seqs
------ | ------
denovo0 | ATGCGTACCTA..
denovo1 | ATGCTAGTCAC...

[2016-12-30 17:08] sckott commented on #38
hi @tdivoll - thanks for opening the issue!

I'll have a look and get back to you asap

[2016-12-31 16:51] sckott commented on #38
If you make your input a named list the names of each sequence should be retained.

try `as.list(setNames(mydata$seqs, mydata$seqID))` which should give you a named list

e.g.

[code]

[2017-01-01 18:21] dougwyu commented on #36
Yes, the convenient thing would be to have parentnames in the bold_identify output.  In general, i would expect that the taxonomic position of a genus_species would not be obvious to me (e.g. what is the Class/Order/Family of Allomerus octospinosus?). This way i would be able to sort output tables by higher ranks (e.g. Insecta, Hymenoptera), which is quite useful.

The reason that I request using

[2017-01-02 18:12] tdivoll commented on #38
Thank you for this solution, it worked great! I was missing the `stringsAsFactors = FALSE` when reading in my file and then the ` setNames()` command worked great with my seqIDs.

I was able to add the row names as a column with `rownames_to_column()` in the 'tibble' package and `filter()` out low percentage matches  in the final data frame with the 'dplyr' package before writing to xlsx.

Tim

[2017-01-02 18:18] sckott commented on #38
Great, glad it worked!

[2017-01-02 20:01] #38 closed

[2017-01-02 20:13] sckott commented on #36
not sure we're on the same page here. is this line of discussion talking about the `bold_tax_id` function?  If so, that does accept a taxonomic ID, which is what you want, correct? or not?  If not that fxn, which one are you talking about

[2017-01-02 20:15] sckott commented on #36
for email notifications, perhaps go to this page https://github.com/settings/notifications

[2017-01-02 23:13] sckott commented on #36
@dougwyu i started a new fxn. reinstall like `devtools::install_github("ropensci/bold")`

see `bold_identify_parents()` and its examples

let me know what you think

[2017-01-05 09:01] dougwyu commented on #36
Fantastic and thank you!

I successfully ran the new command and was initially confused by all the additional rows, but i see what you've done:  each ID is effectively its own little dataframe.

I am thinking that it might be more useful for the output to be wider, such that each of the original hits remains one line.  Here is an image of what I'm thinking.  It maintains most of the newly added in

[2017-01-05 21:55] sckott commented on #36
I thought about using wide format, but thought it made more sense to give back the results as I did with repeated rows for each record.

Data.frame for parents is like

[code]

In your eg above you just use two of those columns. When I was thinking wide format, i thought it  way to many columns to add if we used all, but I guess if it's just two columns it's more palatable to add those columns.

[2017-01-06 10:49] dougwyu commented on #36
That works great!  I have tried with one sequence and with 5 sequences.  Exactly what I need (and I suspect many others).  Thanks very much Scott.

[2017-01-06 15:30] sckott commented on #36
great

[2017-01-06 15:30] #36 closed

[2017-01-06 20:03] sckott commented on #35
user solved it by upgrading R

[2017-01-06 20:03] #35 closed

[2017-01-06 20:36] sckott opened #39 "Remove methods/stats/utils imports and namespace those calls"

[2017-01-06 22:10] dougwyu opened #40 "help files aren't available (0.4.0)"
I get this message when trying to read the help files.

Error in fetch(key) : lazy-load database '/Library/Frameworks/R.framework/Versions/3.3/Resources/library/bold/help/bold.rdb' is corrupt

[2017-01-06 22:12] sckott commented on #40
Can you try restarting the R session and then try again?

[2017-01-06 22:26] dougwyu commented on #40
ah, that fixed it.  thanks!

[2017-01-06 22:27] #40 closed

[2017-01-15 15:35] VascoElbrecht opened #41 "bug in bold_identify_parents?"
Hello,

bold_identify_parents works fine for me for now, but one sequence does produce an error.

When running:
[code]

I get the following error:

`Error in apply(h, 1, function(x) { : dim(X) must have a positive length`

in the `bold_identify_parents` command. This happens every time I try to run it with this sequence. Could you please look into this? Thanks = )

here also my R session info:

[c

[2017-01-15 17:51] sckott commented on #41
thanks @VascoElbrecht - can reproduce that, will get a fix soon

[2017-01-15 17:57] VascoElbrecht commented on #41
great = ) thank you!

[2017-01-16 00:32] sckott commented on #41
@VascoElbrecht reinstall and try again, should work now

[2017-01-16 09:04] dougwyu commented on #41
aha, there's a tribe column in this set of hits!

[2017-01-16 09:58] VascoElbrecht commented on #41
Yes! It works now, thank you = )

[2017-01-16 15:24] #41 closed

[2017-02-27 03:10] sckott opened #42 "replace httr with crul"

[2017-05-01 12:35] dougwyu opened #44 "network error"
`bold_identify()` is returning a network error (I think this has arisen only in the last few days).  the BOLD website is accepting sequences for identification.  I'm guessing this is really a BOLD website problem, but i thought i would flag it up.

[code]

[2017-05-02 19:17] sckott commented on #44
thx for the report @dougwyu

seems to be up now

still not working for you?

[2017-05-02 21:31] dougwyu commented on #44
working now.  thanks for checking

[2017-06-17 20:24] #42 closed

[2017-07-19 01:12] griffinp opened #46 "bold_specimens returning poorly formatted data.frame with option format="tsv""
I am using `bold::bold_specimens` within a custom function to return specimen records for a given taxon in "tsv" format. I am pretty sure this worked fine in the past for me, however now the resulting data.frame is not well formatted. The header line partly wraps into the first row of the data.frame, resulting in a dodgy row 1 and extra 'NA' entries in other rows that shouldn't be there.

Example:

[2017-07-19 04:08] sckott commented on #46
thanks @griffinp for this report - does appear to be a bug - will fix tomorrow

[2017-07-20 18:33] #44 closed

[2017-07-20 19:59] sckott commented on #30
new routes:

- [ ] `API_Public/stats`

[2017-07-20 20:17] #30 closed

[2017-07-20 20:17] #39 closed

[2017-07-20 20:18] sckott commented on #46
@griffinp please reinstall `devtools::install_github("ropensci/bold")` should work now - had to switch to their new API

[2017-07-20 20:46] sckott commented on #25
Seems that this is working now @boopsboops  - make sure to install latest `devtools::install_github("ropensci/bold")`

let me know if not working

[2017-07-20 20:46] #25 closed

[2017-07-20 20:46] #46 closed

[2017-07-20 21:39] sckott commented on #19
still not avail AFAIK

[2017-07-21 02:36] griffinp opened #47 "bold_specimens returns no records with format="tsv" for taxa with large numbers of records"
Hi @sckott, thanks for fixing issue #46 so promptly, the table format seems fine now.

I have run into another issue when using bold_specimens to retrieve info in tsv format for some taxa. I suspect this is a problem for taxa with large numbers of records only. The command returns a (kind of) NA value and no records and does not generate an error message. xml format seems to return okay.
For examp

[2017-07-21 16:19] sckott commented on #47
try again after reinstalling - was related to a problem for some reason in `readBin` - switched to `rawToChar` and works fine.

[2017-07-25 02:05] griffinp commented on #47
Works fine now! Thanks a lot for the fix.

[2017-07-25 17:08] sckott commented on #47
great, glad it works now!

[2017-07-25 17:08] #47 closed

[2017-10-16 17:16] LunaSare opened #49 "bold_seqspec function gives a mixed set of markers when using marker argument"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

Hi! I've been using `bold::bold_seqspec()` to search for plant and fungi markers. There appears to be an error with the `marker` argument, since it will output different types of markers for a single marker query:

`library(bold)`
`res <- bold_seqspec(taxon="Arabidopsis", marker="rbcL")`
`res$markercode`

 `[1] "rbcL" "

[2017-10-17 04:45] sckott commented on #49
thanks @LunaSare Will have a look in the morning

[2017-10-19 22:02] sckott commented on #49
I've asked about this

[2017-11-01 18:59] sckott commented on #49
@LunaSare response from BOLD

Does that make sense?

[2018-02-17 09:49] dougwyu opened #50 "dual set of parents with genus Ormosia"
When i bold_identify() and bold_identify_parents() the following sequence, i get two sets of parents, in two sets of columns.  The reason is that the genus name for this sequence (_Ormosia_) is used in both plants and insects.  This makes the identification ambiguous (although I know in this case that the sequence is from an insect). Not sure how to fix this except that the plant and insect Ormosi

[2018-02-19 01:06] sckott commented on #50
thanks, i'll take a look and get back to you

[2018-02-20 23:45] sckott commented on #50
so there's no way to filter searching by taxonomic names, which we do inside `bold_identify_parents`, with any other attributes, e.g. Kingdom/Phylum to help eliminate this problem where there's duplicate names in different major groups

The only thing I think that can be done is filter after getting the data back. e,g

[code]

Then if you use `wide` option you get back a data.frame that's equal nu

[2018-02-24 08:59] dougwyu commented on #50
i tried this, in this case, filtering by != "Magnoliophyta" (because my seq is an arthropod), ends up filtering out one of the best matches (similarity == 1, Ormosia, id == GMGLM411-13).

the solution for now will have to be something more complicated like filter(phylum != "Magnoliophyta" && similarity < 0.97), copying the arthropod parental names "to the left" in any rows that remain, and then de

[2018-02-28 18:40] sckott commented on #50
Sorry about not having a better solution to this.

Would you mind sharing a brief example of this use case that I can put into the documentation examples for these functions?

[2018-02-28 21:39] dougwyu commented on #50
Example where bold_identify_parents returns an incorrect parental taxon.  Ormosia is a genus name in both plant and insect taxonomy.

` testseq <- list(ormosia = "ACTTTATATTTTATTTTTGGGGCATGAGCGGGTATAGTAGGAACTTCCCTAAGAATTTTAATTCGAGCAGAGCTTGGACACCCAGGAGCATTAATTGGTAATGATCAAATTTATAATGTAATTGTTACCGCTCATGCTTTTGTTATAATTTTTTTTATAGTAATACCAATTATAATTGGAGGATTTGGAAATTGATTAGTACCCCTAATATTAGGGGCTCCTGATATAGCTTTTCCT

[2018-03-21 23:05] sckott commented on #50
thanks much @dougwyu for this

what do you mean by "switch parents"

[2018-03-22 02:09] dougwyu commented on #50
"switch parents"

since the correct parent of an ambiguously named genus cannot be chosen automatically, maybe the user can be given a simple function to choose which set of parent taxa is correct for any given row.  Thus, in my example, i would run a command to switch from the plant parents to the insect parents of Ormosia.

basically, i see this as swapping sets of columns within a user-chosen r

[2018-07-03 23:59] sckott commented on #50
sorry for the delay on this.

do you already have a function/some code you run to do this?

[2018-07-04 08:50] dougwyu commented on #50
sorry, i haven't written anything.

[2018-07-13 22:38] sckott commented on #50
@dougwyu `bold_identify_parents` just gets parent information and joins it to the input data. So I don't see it as a good place to filter by certain names/ranks/ids.

Doesn't `dplyr::filter(boldoutput_public_parents.df, phylum == "Arthropoda")` do what one would want by filtering out plants from animals?

but I assume the major use case is that you know you are working with animals or plants, and

[2018-07-16 21:02] sckott opened #51 "link to taxize book in readme/vignette for taxonomic cenetered use cases"

[2018-07-17 00:47] dougwyu commented on #50
@sckott the top hit (GMGLM411-13) returns two sets of columns after this command:

`boldoutput_public_parents.df <- purrr::map_dfr(boldoutput_public_parents, data.frame) %>% dplyr::arrange(desc(similarity))`

the first set of columns is Ormosia's parents as a plant (Magnoliophyta), and the second set of columns is Ormosia's parents as an arthropod (starting with column phylum_id.1)

so a filter()

[2018-10-25 17:45] #29 closed

[2018-10-25 17:47] sckott commented on #19
seems like its not coming, closing

[2018-10-25 17:47] #19 closed

[2018-10-25 17:48] sckott commented on #34
seems like it's not coming

[2018-10-25 17:48] #34 closed

[2018-10-25 17:49] #49 closed

[2018-10-25 19:02] sckott commented on #50
Sorry for the long wait on this.  @dougwyu

can you reinstall `remotes::install_github("ropensci/bold")`, restart R and try again? this should help:

[code]

let me know

[2018-10-26 04:37] dougwyu commented on #50
Works!  thanks very much, Scott.

[2018-10-26 16:46] sckott commented on #50
glad it works

[2018-10-26 16:46] #50 closed

[2018-10-26 17:03] sckott commented on #51
fixed in 2fdb9d1

[2018-10-26 17:03] #51 closed

[2018-10-27 23:07] bastianegeter opened #52 "Error in bold_seq (str_split: subscript out of bounds)"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

Hi, I am enjoying playing with this package. Thanks for developing it. When trying this command

`bold_arth<-bold_seq(taxon = "Arthropoda")`

I get the error

[code]
This seems to be a different issue to [this resolved issue](https://github.com/ropensci/bold/issues/29) regarding long vectors with bold_seqspec. I see Art

[2018-10-27 23:18] sckott commented on #52
thanks for the report @bastianegeter - having a look

[2018-10-30 18:10] sckott commented on #52
The problem is their server is timing out, plus they don't give back that there was an error in the HTTP response, so we don't know that there was an error in our normal HTTP response processing (so that's something I can ask them to fix).

So we end up with some fasta data, but towards the end there's a bunch of html text that's essentially an error web page.

Timing out here basically means thei

[2018-10-30 18:26] sckott opened #53 "bold_seq: error well when BOLD server times out"
via #52

[2018-10-31 13:50] bastianegeter commented on #52
Thanks for looking into this. I tested creating a vector of subgroups of Arthropoda and running a loop to return a list for each. This almost works, but the subgroup Insecta also fails (same error), which means doing something similar for Insecta and combining all the lists into a fasta afterwards. Something like:

[code]
With some effort I expect this to work, but subgroup names might change ever

[2018-10-31 16:49] sckott commented on #52
Ideally BOLD would allow us to get children. Unfortunately, BOLD doesn't provide a way to get child taxa given a taxon name or id, but we can use `taxize::children` with other taxonomic data sources to get children. I probably don't want to import taxize here as taxize imports bold. But can give examples at least. I kinda feel like a function would hide too much. That is, I think it makes sense fo

[2018-11-01 14:32] sckott opened #54 "bold_seq: trim off returns"
e.g.,  bold_seq(taxon='Coelioxys')[[1]]

[code]

[2018-11-01 14:50] #53 closed

[2018-11-01 14:51] sckott commented on #52
@bastianegeter can you reinstall `remotes::install_github("ropensci/bold")` and try again?  it warns now when there is a server timeout and points to documentation for help - and trims out the sequences before the error message and gives those back, so it's a partial set of sequences.

[2018-11-01 15:29] #54 closed

[2018-11-06 14:02] bastianegeter commented on #52
Works as expected
[code]
#just a note that the partial output appears to be based on $id, so it is scattered across many taxa
[code]

[2018-11-06 17:52] sckott commented on #52
not sure I understand the issue. can you clarify?

[2018-11-06 19:01] bastianegeter commented on #52
Not really an issue. I guess I´m just saying that the partial retrieval is formed from many different locations in the taxonomy, rather than running through each daughter taxon until the request times out. I had the thought that if entries were being retrieved taxon by taxon, then one could identify which taxa had been completely downloaded, and so they would need to be downloaded again.

[2018-11-07 22:49] sckott commented on #52
I see. That's too bad. Must be how they have it setup on their end.

[2018-11-07 22:50] sckott commented on #52
Do you think you now have a workflow that is workable?  Or do we need to make more changes?

[2018-11-13 22:53] sckott commented on #52
assuming this is good to go

[2018-11-13 22:53] #52 closed

[2018-11-14 00:10] sckott opened #55 "vcr-ify tests"

[2018-11-14 00:10] #55 closed

[2019-01-26 21:35] sckott opened #57 "_R_CHECK_LENGTH_1_LOGIC2_ R-devel error"
from `taxize::bold_search` test

[code]

[2019-01-27 02:06] sckott commented on #57
another:

[code]

[2019-01-28 23:32] sckott commented on #57
already fixed in 84527d8475573765c5bd110b9a5b6577b3d9a541

[2019-01-28 23:32] #57 closed

[2019-01-28 23:36] sckott opened #58 "add more tests"
current coverage:

[code]

[2019-02-22 21:53] devonorourke opened #59 "`marker_code` or `markercode`... getting the "marker = ..." to function as expected"
Modifying from the example on this repo, let's pull a tiny dataset of two Arthropod classes and see if we can extract just our `COI-5P` sequences (and filter out the non COI-5P markers):

[code]

So far so good, everything present.
I'm going to select just two small non-Insect arthropod classes from that `x.checks` list:
[code]

Now let's apply that tiny list with `bold_seqspec` (not `bold_seq` li

[2019-02-22 22:02] devonorourke opened #60 "a rare case of a missing Insect Order"
I stumbled across this quirk while following the [Readme example for pulling all the arthropod data](https://github.com/ropensci/bold#large-data) at once from BOLD. I'm guessing this is a rare thing, or perhaps a non thing and I'm just screwing something up, but if not, it seemed worth mentioning:

[code]
Great, all the Classes are there. So far so good.

But because the Insect Order has like 89%

[2019-02-23 10:55] devonorourke opened #61 "long vectors, round 2"
Hi Scott,
Trying and failing to download the entire Insect dataset with `bold_seqspec`. The `InsectNames` vector was scrubbed from their website directly, but this was my first hack at trying to figure out a programmatic way to pull the Insect Order names directly from the BOLD website. Folks that know what they are doing could probably do this better!
[code]

With that vector of InsectNames, I th

[2019-02-26 17:32] devonorourke commented on #61
Quick follow up:
I ended up breaking up the data into six groups total and there wasn't any further issue with memory. The size groups were:
1. All non-insect arthropods
2. Diptera
3. Lepidoptera
4. Hymenoptera
5. Coleoptera
6. remaining insects

[2019-02-26 17:35] sckott commented on #59
thanks @devonorourke for the report - i'll have a look

[2019-02-26 17:37] sckott commented on #60
thanks for the report @devonorourke

not sure what the answer is off the top. I'll poke around and see what I can find.

It'd be great if there was a way to implement `taxize::downstream` for BOLD, but as far as I can remember, I don't think they have a way to get children of a taxon, which is the basis for making downstream work

[2019-02-26 17:40] sckott commented on #61
thanks for this. I think it's a bug related to `rawToChar`, the string coming from `out$result` must be very lage

[2019-02-26 18:06] devonorourke commented on #61
Yep. It was all Insect records.

On Tue, Feb 26, 2019, 12:40 PM Scott Chamberlain <notifications@github.com>
wrote:

[2019-03-01 01:48] sckott commented on #59
so we've run into this before - and there is documentation for it - see https://github.com/ropensci/bold/blob/master/R/bold_seqspec.R#L21-L28

Something isn't quite right on their end and you get back markers you don't ask for. So the only optio is to filter by markercode after you get the data back.

Does that sort this out?

[2019-03-01 04:29] devonorourke commented on #59
Why build all these columns if you can't query every one of them?

I ended up just downloading the entire dataset and filtering after the fact like you suggested.

So, it sorts it out on your end, but it doesn't help me any :) ha

[2019-03-01 18:41] sckott commented on #59
what does that mean? does it mean you want the function to filter the data inside the fxn?

The BOLD team are unresponsive to my contacts about their services so we can't change anything on their end to make e.g, marker queries actually work.

[2019-03-01 18:50] devonorourke commented on #59
This is 100% a comment about Barcode of Life setup, 0% about your R package.
What I'm saying is it's weird to me that you can download their specimen information that has something like 70 columns, yet you can only filter a handful of these, right?

What would be great is to be able to apply a filtering function for any of these fields, and not be restricted to just `geo` or `marker` etc (I think

[2019-03-01 23:21] devonorourke opened #62 "issue with `bold_identify`"
Hi Scott,
Not sure what to make of this error:
[code]

Generated from these data:
[code]

For what it's worth, I can get a small sample of the same dataset to return values:
[code]

Does it make sense to try something iteratively when you have > 10,000 sequences like I do?

Thanks

[2019-03-07 01:05] sckott commented on #62
one thing could try is async requests, but i imagine they don't have amazing server resources, so may be too much for their system

[2019-03-07 01:42] devonorourke commented on #62
Thanks Scott,
There must be a way to break up the data.frame into a list of smaller data.frames, then iteratively request records, right?
Or perhaps that list of data.frames can't be directly accessed with the `bold_identify` command?
Maybe I need to break up the fasta into smaller chunks directly and run the R script as part of a loop.

Do you have a sense of what the largest number of fasta reco

[2019-03-07 02:12] sckott commented on #62
install from `remotes::install_github("ropensci/bold@async")`, reload R, and try e.g.,

[code]

so 1.5 min for 60 sequences.

it's entirely possible if you throw 13K sequences using async requests at their servers they may not be able to handle that, so i'd still break up the sequnences into chunks, e.g., you could do 100 at a time

i may or may not keep this async function

[2019-03-07 02:18] devonorourke commented on #62
Thanks again Scott.
I think I can break up that data.frame into chunks like this:
[code]

and then call out the chunks in a single call like this:
[code]

But I can't wrap my head around how I recover all the info from that list...

I'll give the asynchronous call function a shot next.

Thanks again!

[2019-03-07 02:32] devonorourke commented on #62
Thanks Scott,
Giving the new script a shot now.

[2019-03-07 14:01] devonorourke commented on #62
Update for you @sckott -
I haven't figure out why yet, but the issue isn't apparently with the batch size of query sequences being submitted. It keeps stalling at a single fasta record: number **1191**.

For example, if you try:
[code]
That won't work,  but you can generate data frames on either side of the `1191`th row:

[code]

And sure enough, if you try just that single bad record, you get the

[2019-03-08 00:26] #62 closed

[2019-03-08 00:26] sckott commented on #62
thanks for the info. looks like its down to those ampersands. if we just replace any `&` with `&amp;` instead, we don't get that error anymore. , reinstall, reload then try again. let me know if it works

[2019-03-08 03:13] devonorourke commented on #62
Great, thanks @sckott .

To reinstall, do I  use the `remotes::install_github("ropensci/bold@async")` command you suggested before? I tried doing that but it still threw the same error as before.

Thanks for the help!

[2019-03-08 04:46] sckott commented on #62
i added that fix https://github.com/ropensci/bold/commit/9f7000171fabebdab20a41c9a85087a95dbf0996 to master branch, so just `ropensci/bold` without the async

[2019-03-08 04:47] sckott commented on #62
okay, that fix is on async branch, so you can install from async to get both the fix and async

[2019-03-08 14:24] devonorourke commented on #62
got it - thanks very much

[2019-03-08 18:38] sckott commented on #62
did you restart R after installing from the async branch? that should have worked

[2019-03-08 18:43] devonorourke commented on #62
Yep; quit the R session and restarted.

I'll give it another shot.

[2019-03-08 19:35] devonorourke commented on #62
Multiple attempts of installing, restarting R, and can't get the `@async` branch to cooperate. Tried both on local machine and on compute cluster without any success - the master branch is working fine though.

Now that it's working I have another question for you @sckott: the list (say `out_list`) that is returned can be converted to a data.frame:
[code]

But when I was looking through those reco

[2019-03-08 21:18] sckott opened #63 "user request bold_identify: include both the query and the match as distinct fields in the output"
via https://github.com/ropensci/bold/issues/62#issuecomment-471049648

[2019-03-08 21:18] sckott commented on #62
opened https://github.com/ropensci/bold/issues/63

[2019-03-08 21:21] sckott commented on #62
fixed issue, didn't have ampersand replacement in the async specific parser

[2019-06-08 17:19] sckott opened #64 "allow curl options in bold_identify_parents"

[2019-06-08 17:29] #64 closed

[2019-06-25 23:44] KevCaz opened #65 "Guidelines to install `sangerseqR` with R3.6.0 in the README file"
Hi @sckott,

A quick comment about the README:  with R 3.6.0, things have slightly changed on Bioconductor https://www.bioconductor.org/install/ and so now `source("http://bioconductor.org/biocLite.R")` returns the following error:

[code]

I guess, you simply need to update the README, mentioning that for R >= 3.6.9, one must use:

[code]

Thanks for your work on this!

<details> <summary><strong

[2019-06-26 02:44] sckott commented on #65
thanks very much @KevCaz  !  had no idea

[2019-06-26 02:56] #65 closed

[2019-06-27 18:17] tadeu95 opened #66 "The bold_seqspec function is returning a weird data frame with only 1 variable and 7 occurrences"
I'm not being able to run the function because it returns a data frame with only 7 observations and 1 variable. The thing is I've ran the function times and times again and it worked fine.
The function I used was this:
[code]
My session info:
[code]
Thank you so much in advance for any response

[2019-06-27 19:21] sckott commented on #66
thanks for your question @tadeu95 !

First, what you're doing is not what you think you're doing.

There is no parameter `fish` in the function `bold_seqspec()`. So if we do

[code]

We can see that the actual request is

http://v4.boldsystems.org/index.php/API_Public/combined?marker=COI-5P&combined_download=tsv

Without any of your taxon names.

Second, if you do use the `taxon = group` parameter

[2019-06-27 19:31] tadeu95 commented on #66
So I corrected the script, it was a mistake, it's really "taxon=groups", I automatically replaced the word fish and forgot it was there. I didn't have the parameter "verbose" before and it worked well. What does verbose do?
The thing is I've ran this function many times with those taxonomic groups and it worked perfectly, until yesterday when it started giving me these problems.
Thank you for the

[2019-06-27 19:51] sckott commented on #66
verbose is one of many curl options you can pass in to the http request call. see `?curl::curl_options`

that probably means BOLD website is having problems - and at some point it will be fine again - of course this is out of our control unforunately

[2019-06-27 19:52] tadeu95 commented on #66
Ok, thank you for the answers, I'm sure it will be up again soon

[2019-07-23 17:01] jphill01 opened #67 "'taxon' argument to bold_seqspec()"
Is there a way for 'taxon' to take multiple species names in a vector?

Something like:

    taxa <- c("Dorosoma cepedianum", "Coregonus clupeaformis")
    bold_seqspec(taxon = taxa, marker = "COI-5P")

I have tried using a for loop as follows:

    for (i in 1:length(taxa)) {
      bold_seqspec(taxon = taxa[i], marker = "COI-5P")
    }

which runs, but only returns sequences for the first species

[2019-07-23 17:37] sckott commented on #67
thanks for your question. in the future always include the output of `sessionInfo()` after loading `bold` so we can see what version of R and bold you're running

`taxon` param takes 1 or more names.

[code]

[2019-07-23 18:00] jphill01 commented on #67
Apologies...

I meant to use bold_seq() in place of bold_seqspec(). This function doesn't seem to take multiple arguments.

[2019-07-23 18:10] sckott commented on #67
can you include your sessioninfo please

[2019-07-23 18:32] jphill01 commented on #67
Sorry about that.

My session info is below:

    R version 3.6.0 (2019-04-26)
    Platform: x86_64-apple-darwin15.6.0 (64-bit)
    Running under: macOS High Sierra 10.13.6

    Matrix products: default
    BLAS:       /System/Library/Frameworks/Accelerate.framework/Versions/A/Frameworks/vecLib.framework/Versions/A/libBLAS.dylib
    LAPACK: /Library/Frameworks/R.framework/Versions/3.6/Resources/li

[2019-07-23 18:59] sckott commented on #67
thanks. does this not do what you want

[code]

[code]

[code]

[2019-07-23 20:07] jphill01 commented on #67
Yes, this works!

[2019-07-23 20:08] #67 closed

[2019-08-14 15:55] cbird808 opened #68 "bold_tax_id returns timeout error after hundreds to thousands of calls"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>
after using bold_tax_id to look up hundreds to thousands of IDs, it gets timed out.  I'm guessing that the bold server is locking me out, yes?

[code]

[2019-08-14 21:12] sckott commented on #68
thanks, see related issue #52 wrt timing out

its most likely BOLD's servers timing out, but I'll have a look

[2019-08-14 21:39] sckott commented on #68
`bold_tax_id` calls `lapply` on each id anyway, so you can use your own iteration through the ids to have the same effect, but add error catching with `tryCatch` or similar, and either handle errors by doing the request again, or maybe adding a `Sys.sleep(...)` when a timeout error happens to back off the requests for a bit to hopefully get back to a state where the BOLD servers won't error. For e

[2019-08-16 03:59] cbird808 commented on #68
Thanks for responding!

We are using `blast_tax_name()` in our [metabarcoding pipeline](https://github.com/cbirdlab/charybdis) to fill in the taxonomic "holes" in the tax names for each OTU  (Phylum C O F G S) resulting from queries of  NCBI taxonomic database.

So, it sounds like I wouldn't have any better luck by passing a vector to `blast_tax_name`.

I'll add the tryCatch to prevent the pipelin

[2019-08-16 16:36] sckott commented on #68
That is a long time to be locked out. You could try Sys.sleep between each request - which should make it less likely that you'll get server errors. e.g., in that for loop put a Sys.sleep before each bold_tax_id request, or after, either way.

For downloading the database, are you referring to http://v4.boldsystems.org/index.php/datarelease ?

[2020-01-17 16:41] #68 closed

[2020-01-17 16:42] #66 closed

[2020-01-17 16:58] #59 closed

[2020-01-17 18:37] #61 closed

[2020-01-17 19:04] sckott commented on #60
it seems like BOLD may follow Catalogue of Life taxonomy - I'm trying to get an answer on this

[2020-03-16 21:38] lixiaopi1985 opened #69 "curl error timeout was reached today (3/16/2020)"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

Experiencing curl error today (3/16/2020)

[code]

[2020-03-16 22:56] sckott commented on #69
thanks - its working fine for me right now. is it still broken for you?

[2020-03-17 16:03] lixiaopi1985 commented on #69
No, it has not resolved for me.

[2020-03-17 18:58] sckott commented on #69
okay, i assume you do know `bold_ping()` is a function in the `taxize` package, not this package.

try running `bold_ping(verbose = TRUE)` to see what curl output you get - it may reveal a problem

[2020-03-17 19:49] lixiaopi1985 commented on #69
I tried
[code]

[code]

[2020-03-17 20:31] sckott commented on #69
Do either http requests in taxize work? do `taxize::col_ping()` and `taxize::gbif_ping()` return `TRUE`

[2020-03-17 20:39] lixiaopi1985 commented on #69
[code]

Maybe I should try uninstall and install the package and see.

[2020-03-17 20:45] sckott commented on #69
does this work

[code]

[2020-03-17 20:52] lixiaopi1985 commented on #69
[code]
It works in my windows10 rstudo but not in ubuntu.

[2020-03-17 20:53] sckott commented on #69
there's probavly something wrong with your ubuntu

[2020-03-17 21:25] lixiaopi1985 commented on #69
Started working again a moment ago without doing anything. Weird.

[2020-03-17 21:25] #69 closed

[2020-04-17 20:27] sckott opened #70 "update base url to https"

[2020-04-20 16:02] sckott opened #71 "fix bold_seqspec warning about encoding"
happens here https://github.com/ropensci/bold/blob/master/R/bold_seqspec.R#L65 because encoding is not set

[2020-04-20 16:25] #70 closed

[2020-04-20 16:25] #71 closed

[2020-04-20 16:39] #63 closed

[2020-04-20 17:46] sckott commented on #60
They're definitely not getting back to me.

They do appear to have children on each of their taxon page's, so we can scrape the names, BUT scraping  is super fragile, so i'm somehwat reluctant to put this code in a package. this should work as is:

[code]

[2020-04-20 17:46] sckott commented on #60
@devonorourke ^^

[2020-04-20 18:03] devonorourke commented on #60
I'm in support of whatever you advise. Agreed about challenge of webscraping. Anything you need from me?

[2020-04-20 19:07] sckott commented on #60
@devonorourke see https://github.com/ropensci/taxize/issues/817

[2020-05-01 20:27] #60 closed

[2020-05-31 21:40] Anto007 opened #72 "BOLD servers returned an error"
I get the below error when I try to download the full COI database (tried multiple times). The R script I used is attached herewith. Any help here would be appreciated.

"**Error in bold_seqspec(taxon = "Acoelomorpha", marker = "COI-5P", format = "tsv",  :
  BOLD servers returned an error - we're not sure what happened
 try a smaller query - or open an issue and we'll try to help
Execution halted*

[2020-06-01 17:27] sckott commented on #72
Thanks for the issue @Anto007

BOLD service sometimes fails without giving a good reason. When the query results in a large amount of results, that often leads to errors. If you can, I would split up your query into a set of smaller queries. That is, split up your taxonomic query in to many queries that are the children of that taxon.

There's no taxonomic children listed on the BOLD taxon page fo

[2020-06-01 18:26] Anto007 commented on #72
Many thanks Scott for your prompt response. Finding the children of each taxon and then querying BOLD separately for each sounds to me (being a person of biology background) like a cumbersome task. It seems like I might need to sit and do this if there's really no other easy way around to download the COI datasets in its entirety (sigh!). I've got in touch with the BOLD support desk and I'm now re

[2020-06-01 19:00] sckott commented on #72
It's out of my control. The BOLD folks are at fault here. There's nothing I can do in this package to make it easier unfortunately.

[2020-06-01 20:48] Anto007 commented on #72
Many thanks; I completely understand! One last thing: Do you think children of taxa are necessary and required to be separately queried? I can understand doing this in case of Arthropoda since it contains a very high number of records. If I set up individual R scripts for the higher taxa levels as in the list below, do you think (from your own experience) that it will result in retrieval of incomp

[2020-06-01 21:11] Anto007 commented on #72
Also I wonder if you know whether querying those higher taxa levels in the BOLD web-interface will result in retrieval of incomplete records? My feeling is that the web-interface may be a relatively safer option here but I might be wrong.

[2020-06-03 12:16] Anto007 commented on #72
Just in case someone else runs into a similar issue, the below wget solution worked for me. Closing this ticket. Thanks.

_for taxon in $(cat listoftaxa.txt)

do

echo "Searching for $taxon..."

wget "http://www.boldsystems.org/index.php/API_Public/sequence?marker=COI-3P|COI-5P&taxon=${taxon}" -O ${taxon}.fasta

wget "http://www.boldsystems.org/index.php/API_Public/specimen?marker=COI-3P|COI-5P&ta

[2020-06-03 12:17] #72 closed

[2020-06-08 15:03] sckott commented on #72
sorry for delay in answering.

Probably depends on how many taxa, and how much data, are in the taxonomic group.

You can use the web interface of course, but hopefully we can use solutions that involve code so your work is more reproducible.

Glad that wget solution worked for you!

[2020-06-17 18:07] sckott opened #73 "failing test on cran"
fixed in cb4b35d86db1956c49507cb6ea49873d319b0cfc

[2020-06-17 18:07] #73 closed

[2020-10-26 13:45] tadeu95 opened #74 "I'm getting the Error: Internal Server Error (HTTP 500) for a small chunk of species names"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

So I've been using the bold_tax_id function and during the past week I was able to successfully use the function for my entire list of species, which comprised about 1300 different species names, without problem.
![species_taxID_error](https://user-images.githubusercontent.com/52295127/97179995-6bba4b80-1791-11eb-9d5c-9

[2020-10-26 23:01] sckott commented on #74
Thanks for the issue @tadeu95  its probably a temporary server problem on BOLD's end, i'll have a look

[2020-10-26 23:07] sckott commented on #74
Works fine for me just now.

Most likely one of two issues.

1. BOLD was having general server problems for a short time. Just stop requesting and check again later to see if working
2. BOLD may have blocked requests from your IP address if there were "too many" for their liking. There's no way to know if they do this or how many is too many. They don't really respond to questions/inquiries. Same

[2020-10-28 12:06] tadeu95 commented on #74
Thanks for the answer.
So I waited for a while and just tried again, but I'm still getting the same error even for a low number of records. Usually when BOLD blocks my IP address it resets after a few minutes and then I'm able to make requests once again, but not this time.
I'll keep trying and let you know if something more happens

[2020-10-28 12:11] dougwyu commented on #74
Try this portal:  https://www.gbif.org/tools/sequence-id

for large datasets, i split my fasta file into sets of 600 sequences.

it is not command-line driven.

[2020-10-28 15:26] tadeu95 commented on #74
So I discovered that using the bold_tax_id function, there is a problematic record, its species_taxID is 805613 (the species name is Bathysaurus mollis).
The function works well except when requesting this particular species. I talked to a coleague and he said this is something that has happened to him with some species/records.
I removed this ID from my list of species_taxID and I managed to once

[2020-10-28 17:27] sckott commented on #74
Interesting, that's pretty weird about that one ID.  I would ask BOLD but very unlikely to get a response. I guess you could wrap bold_tax_id in try or tryCatch and  if it gives that error just skip to next, then afterwards see if you can get the missing data in other ways?

[2020-10-28 17:30] tadeu95 commented on #74
Yes that also sounds like a good idea. Thanks

[2020-11-01 13:59] bbvdhoorn opened #75 "bold_seqspec ouput contains different vector types between nested lists"
Hi,

When I try to fetch data based on a species list via the code below:

# fetch specimen data and sequences
taxa.list <- c("Asterias rubens", "Ophiura ophiura") # create taxa list
res <- lapply(taxa.list, bold_seqspec) # get specimen data and sequences

the output results in two nested lists/dataframes containing both the same variables/columns, but the type of the columns sometimes differs. Wh

[2020-11-02 19:18] sckott commented on #75
Thanks for the issue. Next time please try to include a reproducible example. e.g,. _When I try to combine the two lists/dataframes in one list or dataframe_ should be code

`data.table::rbindlist` works for me, does that work for you?

[code]

[2020-11-02 19:54] bbvdhoorn commented on #75
Yes, that works out fine. Thanks! I couldn't have put it that way ;-) Still, I am puzzled that, for example, image_ids is a character in the first nested list and an integer in the second. But your simple line of code solves my issue.

[2020-11-02 19:54] #75 closed

[2020-11-02 20:00] sckott commented on #75
b/c BOLD, like probably all web services can return different data for different records leading to different structures, where one result may be a list with many items and another an empty list. we could internally in this package try to parse all the different fields returned by BOLD, but it's very likely we'll run into errors with certain queries. so i'd rather return data faster, and have user

[2020-11-02 21:45] bbvdhoorn commented on #75
I completely agree, thanks again!

[2021-03-02 23:53] pieterprovoost opened #76 "bold_seqspec() times out for small result set"
`bold_seqspec()` times out while fetching COI sequences for a family that only has a [handful of records](http://v3.boldsystems.org/index.php/Taxbrowser_Taxonpage?taxon=Acanthaspidiidae&searchTax=). This only happens when `marker` is specified, without `marker` it returns `NA`.

[code]

[code]

The taxon name exists in the system:

[code]

[code]

Upon closer inspection it seems that the API retur

[2021-03-03 17:28] sckott commented on #76
Thanks for the issue @pieterprovoost This fxn isn't working for me with any requests. It's possible this is a temporary problem, but hard to know. BOLD has an unreliable backend setup. Plus they do not respond to questions at all AFAICT. So we're left to deal with it on our end by ourselves.

Before when this has happened its a query with a lot of results, and I've told users to split up the query

[2021-05-10 18:35] sckott opened #77 "vignette deps - email from cran"

[2021-10-06 02:59] salix-d opened #79 "Error in output of bold_seq()"
In the output of bold_seq(), $id and $gene were both the value of $id.
There's a mistake in the indexes of split_fasta() on line 11 of zzz.R :

[code]
should be :
[code]

The accession from the fasta (which would be stuff[4] minus the sequence) also get lost.

[2021-10-06 15:08] sckott commented on #79
thanks!

[2021-10-06 15:11] sckott commented on #79
fixed via #80

[2021-10-06 15:11] #79 closed

[2021-12-11 18:53] salix-d commented on #76
This happens because there are no *public* records in the database.
If you use `bold_stats()` which checks the record in their public database :
[code]
you get :
[code]
And if you would use `bold_seqspec()` without specifying a marker, you would get NA
[code]
[code]

The problem is that their API treat the NA taxon as you anting to get ALL the COI-5P markers, hence the few thousand of unrelated re

[2021-12-13 05:06] salix-d commented on #74
Another taxon with _supposedly_ no public records ([taxon page](https://v4.boldsystems.org/index.php/Taxbrowser_Taxonpage?taxid=805613) says there is no public record and bold_stats() returns nothing), **BUT** from that same page if you click 'PUBLIC DATA', there _is_ in fact a public record with a sequence...

[2021-12-13 18:28] salix-d commented on #74
I did message BOLD just in case they'd be more responsive now and I've been told the devs would take a look so, we'll see.

[2022-03-28 09:45] chleeb opened #81 "Problem with UTF-8 encoding"
I recently updated R, RStudio and all my R packages. Since then I observed a bug in `bold` which might be linked to the UTF-8 encoding.
When I run
[code]
`requested_bold_records$copyright_licenses` is `CreativeCommons \u0096 Attribution Share-Alike (by-sa) 818`. Before updating everything it was `CreativeCommons – Attribution Share-Alike (by-sa) 818`. As `\u0096` is `–` it might be a problem with

[2022-03-28 13:53] tadeu95 opened #82 "Unable to download data set for Chironomidae"
Hello, so I have tried to download the data set for Chironomidae using the bold R function "bold_seqspec" and I have received this message:
[code]
 It's weird because in the past I have downloaded larger groups that Chironomidae several times without a problem.

Thank you in advance for the answers!

[2022-04-01 02:18] salix-d commented on #81
Seems to be an issue with the `Encoding()` assignement function specifically. Can't check if it's windows specific at the moment.
Using the `enc2utf8()` function or specifying the encoding directly in `read.delim()` , the `–` displays properly.
So I'll fix the function to do that instead.

In the mean time, to keep it in UTF-8 and have it display properly, you can change the encoding to "latin1" (

[2022-04-01 18:48] salix-d commented on #82
Tested and I do get the same error. It gives this message when the server return a 'Fatal error'.
Tested with just curl_download and get "Send failure: Connection was reset" after downloading 92505167 bytes. (I though I could get partial data, but it seems to delete the temp file... In any case, it's definitively on the BOLD server.

Sometimes there's a mismatch between the data they say they have

[2022-04-13 13:25] salix-d opened #83 "Typo in dataTypes 'depository' prevents fetching related data"
When querying taxon data with `bold_tax_id()`, if dataTypes is 'depository', the query returns empty even thought there is depository data as can be seen when setting dataTypes to 'all'.

The problem is with their API.
Example :
https://v4.boldsystems.org/index.php/API_Tax/TaxonData?taxId=88899&dataTypes=depository
returns `[]`
https://v4.boldsystems.org/index.php/API_Tax/TaxonData?taxId=88899&dat

[2022-04-20 13:41] salix-d commented on #83
Just saw the typo in the JSON so I tried
https://v4.boldsystems.org/index.php/API_Tax/TaxonData?taxId=88899&dataTypes=depositry
and it still returns `[]`

But for good measure I tried plural of the typo and plural of supposed key word and :
https://v4.boldsystems.org/index.php/API_Tax/TaxonData?taxId=88899&dataTypes=depositories

{
  "depositry": {
    "Mined from GenBank, NCBI": 26,
    "Smithson

[2022-04-26 14:56] salix-d opened #84 "Getting "HTTP 500: Internal Server Error - Server got itself in trouble" when taxon names have single quotes in them"
Seems like the Taxonomy API server can't handle single quotes characters.

- curl::curl_escape : Server doesn't return error, but also doesn't return the record(s).
- `\'` : same error
- `\\'` : returns record(s)

[code]

The arguments should be checked for single quotes and fixed before building the URL(s).

[2022-04-26 15:26] salix-d opened #85 "Discrepancy between Taxonomy API and Public API"
Some species can't be found by name or id using the Taxonomy API (`bold_tax_name()`|`bold_tax_id()`) but still have public records ("Moraea elsiae", for example).

I contacted their support to inform them.

I'm currently trying to build a database of all their public taxonomy with their taxid and all their name's variation. Goal being that user will be able to confirm that their taxon exist in the

[2022-04-26 15:55] cjfields commented on #81
I'm seeing a related error:

[code]

Session info:

[code]

[2022-04-26 18:48] salix-d commented on #74
Turns out, those taxa you can get records of but can't find with `bold_tax_name()` or `bold_tax_id()` might have been flagged in their database, and you may not want to get their records. I just messaged them to let them know that they aren't flag in the Public API and that the records can still be downloaded.

(Which also explains one discrepancy from issue #85)

[2022-04-29 19:27] #81 closed

[2022-04-29 19:29] salix-d commented on #81
Changed the encoding function, it should work now.
Let me know if it didn't fix it.

[2022-05-09 16:37] salix-d commented on #83
Following my report, BOLD did fix this issue. Both words(depository and depositories) will return results and they also corrected the typo in the return JSON.

[2022-05-09 16:37] #83 closed

[2022-05-12 18:34] cjfields opened #87 "Odd EOF warning with bold_seqspec"
I'm seeing the following sporadically when using `bold_seqspec`:

[code]

Very similar to [this SO issue](https://stackoverflow.com/questions/17414776/read-csv-warning-eof-within-quoted-string-prevents-complete-reading-of-file).

<details> <summary><strong>Session Info</strong></summary></details>

[code]

[2022-05-12 21:52] cjfields commented on #87
I should clarify: I see this issue sporadically with different calls to `bold_seqspec()`, I see this consistently w/ the above example.

[2022-05-12 22:07] tadeu95 commented on #87
I've run into this issue you are probably not retrieving all public available for Calliphoridae, because of this warning. Try downloading the data set from the BOLD API and confirm if you're losing records
From what I've gathered that warning happens when trying to read records with symbols such as "#", and I haven't been able to circumvent it when using the bold package. It happens sometimes when

[2022-05-12 23:20] Jotanator commented on #87
I have also run into this issue with some species such as Felis Catus, I checked the records when it happened and I am indeed missing some of them. In the case of Felis Catus, I am missing the last three records with process IDs: RDATC037-05, RONP027-14, and RSMS002-11. As far as I can tell there doesn't seem to be anything weird with those 3 records and I don't really see any "#" symbols in the e

[2022-05-13 04:40] cjfields commented on #87
Per the SO question, disabling quotes helps.  Here is a demo using the full response instance:

[code]

The second table has three more rows.

[2022-05-16 02:04] cjfields commented on #87
Fix now merged!

[2022-05-16 02:04] #87 closed

[2022-09-09 07:35] maelle opened #89 "Add Salix as maintainer"
@salix-d could you please add yourself as maintainer to the DESCRIPTION file? Thanks for your work on bold! :pray:

[2022-09-23 14:18] jphill01 opened #90 "bold_seq() does not return all COI-5P sequences for genus Homo and species Homo sapiens"
I want to download all _Homo sapiens_ COI-5P data from BOLD.

`bold_stats("Homo sapiens")` indicates there are 48417 such records in BOLD. However, only 48411 are returned by `bold_seq("Homo sapiens", "COI-5P")`.

Is this an issue with the large data request note indicated in the function documentation?

I tried also with the genus _Homo_, which comprises 48449 records, but only 48443 are retrieve

[2022-10-03 19:56] salix-d commented on #90
Hi,

the reason is that bold has records private and public records. Their API returns all records with stats function, but you can check specifically for public COI-5P records with `bold_tax_id("12439", dataTypes = "stats")` (you can get the tax id with `bold_tax_name("Homo sapiens")`) and it will show that there are 48411 public records.

[code]

[2022-10-03 19:56] #90 closed

[2022-10-03 19:57] salix-d commented on #90
I could make a note of that in the docs, that the `bold_stats` function includes private records.

[2022-10-24 15:01] salix-d commented on #89
Oops I thought that was already done ^^'
Might be on the branch that isn't merged yet.

[2022-11-13 21:33] sckott opened #91 "change maintainer on cran"
@salix-d when you get a chance, could you submit a new version to cran changing the maintainer to you? not urgent, but any correspondence from cran will go to me right now, so it'd be good to have it go to you instead. thanks!